---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import YoutubeLazy from "../../components/YoutubeLazy.astro"

export const getStaticPaths = (async () => {
    const works = await getCollection("works");
    return works.map((work) => ({
        params: { slug: work.id },
        props: { work },
    }));
}) satisfies GetStaticPaths;

const { work } = Astro.props;
---

<Layout title={work.data.title}>
    <main class="flex flex-col gap-5 pb-10">
        <img
            src={work.data.image.src}
            loading="lazy"
            alt={work.data.title}
            width={work.data.image.width}
            height={work.data.image.height}
            class="aspect-video mx-auto"
        />
        <YoutubeLazy />
        <h1 class="text-center font-extrabold text-xl max-w-lg mx-auto">{work.data.title}</h1>
    </main>
</Layout>
